server:
  port: 3344
  
spring:
  application:
    name: microservice-config
  cloud:
    config:
      server:
        git:
          uri: git@github.com:SillyBoy007/microservice-config.git #git仓库地址
